.dev-icons {
  padding-left: 0;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.software-skill-inline {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: black;
}
.skillSubtext {
  margin: 0;
}
.skillsLink {
  text-decoration: none;
}

.software-skill-inline:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}
.software-skill-inline:hover > p {
  color: #001c55;
}

.software-skill-inline > p {
  font-size: 10px;
  color: #868e96;
}
